<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{style/login.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <div id="pagina">
        <div id="banner">
            <div id="img1"></div>
            <div id="img2">COMANDO DE OPERAÇÕES TERRESTRES</div>
        </div>
        <nav>
            <div><a href="ctrlEfetivos">Inicio</a></div>
            <div><a href="cad_admin">Cadastro</a></div>
            <div><a href="contato">Contato</a></div>

        </nav>
        <main>
            <form action="#" method="post">
                <fieldset>
                    <div id="boxLogin">
                        <div id="sistemaTit">SISTEMA DE CONTROLE DE PESSOAL</div>
                        <form action="" method="post"></form>
                        <div class="entrar">
                            <label for="login">LOGIN:</label>
                            <input type="text" id="login" required><br>

                        </div>
                        <div class="entrar">

                            <label for="senha">SENHA:</label>
                            <input type="password" id="senha" required>
                        </div>

                        <a href="#">
                            <div class="entrar" id="botao">ENTRAR</div>
                        </a>
                </fieldset>
                <div class="entrar">
                    <a href="esqueci" id="esqueci">Esqueci a senha!</a>

                </div>
    </div>
    </form>
    </main>
    <footer>

    </footer>
    </div>
</body>

</html>